body, input {
        font-family: Calibri, Arial;
        margin: 0px;
        padding: 0px;
}
#header h2 {
        color: white;
        background-color: #5FB404;
        height: 80px;
        padding: 15px 0 0 125px;
}
       
.datatable {border-collapse: collapse;  width: 70%; margin: 0 auto 5rem;}
.datatable th { padding: 1.5rem; font-size: 1.3rem; }
.datatable tr {border:1px solid #888}
.datatable tr.odd {background-color:#eee}
.datatable td {padding:2px;border:1px solid #888}
#content { padding:5px; margin: 5px; text-align: center}
 
fieldset { width: 300px; padding: 5px; margin-bottom: 0px; }
cabecera { font-weight: bold; }